# .gitignore for LeetCode workspace
# Ignore all executables in subfolders (if you name them differently)
Easy_Quest/*
Med_Quest/*
Hard_Quest/*

# reinstate source files
!*.c  # Keep source files
!*.cpp  # Keep source files
!*.h    # Keep header files

.vscode/tasks.json
